body{
  background-color: #000000 ;
  color: #e9e9e9;
  padding: 20px;
  text-align:  center;}
header{
    font-style: italic ;
    font-size: xx-large;
    border: 20px double #ecf309 ;
    padding: 20px; background-color: rgb(194, 11, 11);
    margin-bottom: 100px;
}

.rel{
  
  display: inline;
  padding-right: 20px;
}
.vin{
  box-sizing: border-box;
  display: inline;
  padding-right: 20px;
  
}
.fel{
  box-sizing: border-box;
  display: inline;
  
}
section{
  margin-top: 12px;
}

.sec1{
  padding-left: 20px;
  padding-right: 20px;
  width: 200px;
  border: 1px solid #008000;
  padding right: 10px;
  margin: 20px;
  display: inline;
  font-size: large;
  
}
.sec2{
  padding-left: 20px;
  padding-right: 20px;
  width: 200px;
  border: 1px solid #008000;
  padding right: 10px;
  margin: 20px;
  display:inline;
  font-size: large;
}
.sec3{
  padding-left: 20px;
  padding-right: 20px;
  width: 200px;
  border: 1px solid #008000;
  padding right: 10px;
  margin: 20px;
  display: inline;
  font-size: large;
}
button{
  font-size: xx-large;
  
}

footer{
  font-style: italic ;
  font-size: xx-large;
  border: 20px double #0940f3 ;
  padding: 20px; background-color: #4fd661;
  margin-top: 100px;
}